#Create a .env file in the root of your project and add the above variables before running the application.

# MongoDB connection string (e.g., from MongoDB Atlas or local MongoDB instance)
MONGO_URI="your_mongodb_uri"

# Port number 
PORT=3001

# Base URL 
NEXT_PUBLIC_API_URL=http://localhost:3000